@CHARSET "UTF-8";

.ux-filtered-column {
	background: #AAFFAA url(../resources/images/etd-filtered-collumn-2.png)
		repeat-x left bottom;
}

.x-combo-list {
	height: 220px !important;
}

.x-combo-list-inner {
	height: 218px !important;
}